div#choices_2 {
	width:850px;
	margin-left:auto;
	margin-right:auto;
	font-size:14px;
}
div.description {
	text-align:left;
	border:1px #0099FF solid;
	background-color:#EEEEFF;
	font-size:13px;
	padding:5px;
	width:360px;
	height:152px;
}
div.description table {
	height:100%;
}

input.textfield {
	font-size:12px;
	height:18px;
}
input.textfield:hover, input.textfield:focus {
	color:black;
}
div#addu_title {
	margin-left:20px;
	margin-right:20px;
	text-align:left;
	font-weight:bold;
	font-size:13px;
}
div.addu_body {
	margin-left:100px;
	margin-right:100px;
}

div.checkform {
	text-align:left;
	color:red;
	background-repeat:no-repeat;
	height:18px;
	padding-left:18px;
	margin-left:5px;
	width:250px;
}

input.textfield {
	width:220px;
}
input#userPWD1, input#userPWD2, input#code_postal, input#ville {
	width:140px;
}
input#code_postal, input#banque, input#guichet {
	width:50px;
}
input#telephone, input#numero_compte {
	width:120px;
}
input#siren, input#bic {
	width:90px;
}
input#cle_rib {
	width:25px;
}

div.addu_body table td {
	text-align:left;
}
div.addu_body table td.aster {
	font-size:11px;
	font-style:italic;
	color:#333333;
}

input#userSubmit {
	width:250px;
	margin-left:100px;
}

div#content_created {
	text-align:center;
	font-size:14px;
	font-weight:bold;
	line-height:30px;
}
