div#square_left, div#square_right {
	width:480px;
}
div#square_right {
	float:right;
}
div#square_left {
	float:left;
}
div#square_top, div#divsquare_top {
	font-size:17px;
	font-weight:bold;
	color:black;
	letter-spacing:2px;
}
div#square_top {
	text-align:left;
	background-color:#4488E6;
	border:1px blue solid;
	width:474px;
	height:25px;
	padding-top:3px;
	padding-left:4px;
}
div#square_top a {
	font-size:12px;
	font-weight:normal;
	float:right;
	margin-top:3px;
	text-decoration:underline;
	letter-spacing: 0;
}
div#square_mid {
	width:478px;
	border-left:1px blue solid;
	border-right:1px blue solid;
}
div#card, div#albums, div#events, div#know_more {
	height:215px;
}
div#albums, div#know_more {
	height:217px;
}
div#card {
	background:url(../design/misc/card.png) 0 2px no-repeat;
	background-repeat:no-repeat;
	width:366px;
	margin-left:5px;
	text-align:left;
}
input.card_code {
	border: 1px #000000 solid;
	background-color : #F0F0F0;
	color: #003000;
	padding-top:1px;
	font-size : 14px;
	height:17px;
	width:80px;
	margin-top:120px;
	margin-left:195px;
}
input.card_code:hover {
	border:1px #007700 solid;
}
div#card a {
	margin-left:5px;
	text-decoration:underline;
	color: #003000;
}
div#card a:hover {
	color: #007700;
}
div#square_bot {
	width:478px;
	height:5px;
	border-bottom:1px blue solid;
	border-right:1px blue solid;
	border-left:1px blue solid;
}

div#tl_error {
	border:2px red solid;
	width:180px;
	height:32px;
	text-align:center;
	padding-top:3px;
	color:red;
	margin-left:270px;
	margin-top:28px;
	display:none;
}

div#albums {
	width:100%;
	margin-left:5px;
	text-align:left;
}
span#date, span#event {
	font-size:12px;
	color:#444444;
}
a.last_album, a.last_event {
	display:block;
	width:97%;
	height:38px;
	margin-top:1px;
	padding:1px;
	font-size:14px;
	color:black;
	background-color:#DDEEFF;
	text-decoration:none;
}
a.last_album#impair, a.last_event#impair {
	background-color:#CCEEFF;
}
a.last_album:hover, a.last_event:hover, a.last_album#impair:hover, a.last_event#impair:hover , a.know_more_item:hover{
	background-color : #99EEFF;
	color:blue;
}
div#album_pic {
	float:left;
}
div#album_link {
	float:left;
	font-size:14px;
	text-align:left;
	margin-left:3px;
}
div.slide_show {
	margin-right:12px;
	height:78px;
	background-image:url(../design/backgrounds/pellicule.png);
	background-repeat:no-repeat;
	overflow:hidden;
}
img.slide_show_image {
	height:48px;
	margin-top:14px;
	margin-left:4px;
	margin-right:4px;
	border:1px #555500 solid;
}
img.slide_show_image:hover {
	border:1px #0099FF solid;
}

div#events {
	width:100%;
	text-align:left;
	margin-left:5px;
}
div#events_height{
	height:130px;
}
div.event {
	padding:1px;
	text-align:left;
	font-size:14px;
}
span#event {
	margin-right:30px;
}
input#dc_from, input#dc_to {
	width:70px;
}

input#search_event, input#card_valider {
	height:20px;
	width:70px;
}
input#card_valider {
	margin-bottom:5px;
}
input#search_event {
	margin-top:1px;
}

div#know_more {
	width:95%;
	text-align:left;
	margin-left:10px;
	font-size:14px;
}
div#know_more a {
	text-decoration:none;
}
a.know_more_item img {
	margin-right:15px;
}
a.know_more_item {
	display:block;
	margin-bottom:5px;
	color:black;
}
a.know_more_item:hover {
	display:block;
}
a#photographe {
	font-size:17px;
	font-weight:bold;
	color:#FF0080;
}
div#ie6_nojs_bg {
	position:absolute;
	z-index:113;
	background-color:black;
	top:0px;
	left:0px;
	height:100%;
	width:100%;
	opacity:0.5;
        -moz-opacity:0.5; /* FF */
        -ms-filter:"alpha(opacity=50)"; /* IE >= 8 */
        filter:alpha(opacity=50); /* IE < 8 */ 
}
div#ie6_nojs {
	position:absolute;
	z-index:114;
	top:0px;
	left:0px;
	height:100%;
	width:100%;
}
div#ie6_nojs div#ie6_nojsc {
	background-color:white;
	border:2px blue solid;
	height:305px;
	width:580px;
	padding:6px;
	text-align:left;
	font-size:14px;
}
div#ie6_nojs li {
	margin-left:25px;
	margin-top:8px;
}
div#ie6_nojs span.title1, div#ie6_nojs span.title2 {
	color:darkred;
	font-size:16px;
	font-weight:bold;
	line-height:24px;
}
div#ie6_nojs span.title1 {
	font-size:18px;
}
div#ie6_nojs span.desc {
	font-size:14px;
	font-weight:bold;
	line-height:20px;
}
div#ie6_nojs span.b {
	color:darkred;
	font-weight:bold;
}
div#ie6_nojs span.s {
	color:darkgreen;
	font-weight:bold;
}

