div#content {
	margin-left:10px;
	margin-right:15px;
	text-align:left;
}
div#content_unknown {
	text-align:center;
	font-size:14px;
	font-weight:bold;
	line-height:30px;
}
div#left {
	float:left;
	margin-left:3px;
	margin-right:20px;
	width:180px;
	border:1px blue solid;
	background-color:#DDEEFF;
	padding-top:5px;
	padding-bottom:5px;
}
div#quotas {
	margin-left:10px;
	width:100%;
	text-align:left;
	margin-bottom:20px;
}
div#left input.button {
	margin-top:2px;
	margin-bottom:2px;
	height:30px;
}
hr#separator {
	margin-top:10px;
	width:50%;
	margin-bottom:10px
}
div#right {
	float:left;
	margin-left:3px;
	margin-right:6px;
	width:730px;
}

div.content_box {
	width:100%;
	height:170px;
	margin-bottom:10px;
	text-align:left;
	font-size:14px;
	border-bottom:2px blue solid;
}
div.content_box div.title {
	width:100%;
	font-weight:bold;
	text-decoration:underline;
	text-align:left;
	margin-bottom:5px;
}
div.content_box div.content_flow {
	width:100%;
	text-align:left;
	overflow:auto;
	height:145px;
}
div.content_flow table {
	height:100%;
	width:100%;
}
div.content_flow table td {
	text-align:center;
	vertical-align:middle;
	font-size:13px;
}

span#date, span#event {
	font-size:12px;
	color:#444444;
}
span#event {
	margin-left:20px;
}
a.album, a.event {
	display:block;
	width:99%;
	height:38px;
	margin-top:1px;
	padding:1px;
	font-size:14px;
	color:black;
	background-color:#DDEEFF;
	text-decoration:none;
}
a.album#impair, a.event#impair {
	background-color:#CCEEFF;
}
a.album:hover, a.event:hover, a.album#impair:hover, a.event#impair:hover {
	background-color : #99EEFF;
	color:blue;
}
div.event, div.album {
	padding-top:1px;
	text-align:left;
	line-height:18px;
}
div#album_pic {
	float:left;
}
div#album_pic img {
	height:38px;
	width:50px;
}
div#album_link {
	font-size:14px;
	text-align:left;
	margin-left:60px;
}

span#displayFullGain {
	color:#444444;
	font-weight:normal;
	text-decoration:none;
}
div#indispo {
	width:96%;
	text-align:left;
	padding:5px;
	font-size:11px;
	color:darkred;
}

/*linked to contract*/
div.contr {
	width:99%;
	font-size:14px;
	text-align:left;
	height:30px;
	text-decoration:underline;
}
div#p_contrat {
	margin-top:5px;
	margin-left:4%;
	margin-right:3%;
	height:450px;
	text-align:justify;
	font-size:13px;
	padding:4px;
	border:1px solid #AABBFF;
	overflow:auto;
	line-height:16px;
	padding-left:25px;
	padding-right:25px;
}
div#finalize {
	margin-left:4%;
	margin-right:3%;
	font-size:13px;
	line-height:16px;
	text-align:left;
}
div#title {
	width:100%;
	text-align:center;
	line-height:30px;
	font-size:16px;
	font-weight:bold;
}
h1 {
	margin-top:20px;
	line-height:30px;
	font-size:16px;
	font-weight:bold;
	padding-left:10px;
}
ul, li, ol {
	margin-left:10px;
}
span.start{
	padding-left:25px;
}
span.photomentiel{
	font-weight:bold;
	font-size:13px;
}


